@tailwind base;
@tailwind components;
@tailwind utilities;
.font-noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
}
.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
  }
  